
th, td {
       padding: 0 5px 0 5px;
}
img {
    width: 100px;
}
h1.title {
    text-align: center;
    margin-bottom: 15px;
}
div#collection_container {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}
div#collection_container table {
    border: 1px solid #cecece;
}
