
th, td {
       padding: 0 5px 0 5px;
}
img {
    width: 100px;
}
h1.title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
}
div#collection_container {
    width: 100%;
    margin: 0 auto;
}
div#collection_container table {
    border: 1px solid #cecece;
}
div#collection_container thead tr th {
    padding: 8px 40px;
    font-size: 16px;
}
div#collection_container tbody tr td {
    padding: 16px 16px;
    text-align: center;
}
div#collection_container tbody tr td img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}
div#collection_container tbody tr td input.collectionSave {
    text-align: center;
    float: left;
    width: 100%;
    padding: 6px 0px;
    border-radius: 10px; 
    font-size: 14px;
}
div#collection_container tbody tr td input.collectionSave:hover {
    color: #fff;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}
.logo h2 {
    text-align: center;
    margin-bottom: 20px;
}
div#collection_container table {
    background: #f9f9f9;
    width: 100%;
}
div#collection_container tbody td p.col-title {
    margin: 8px 0;
    text-align: center;
    width: 100%;
    color: #404040;
}
div#collection_container textarea.form-control {
    min-height: 140px;
}
div#collection_container thead {
    background: #656565;
}
