
th, td {
       padding: 0 5px 0 5px;
}
img {
    width: 100px;
}
h1.title {
    text-align: center;
    margin-bottom: 15px;
}
div#collection_container {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
}
div#collection_container table {
    border: 1px solid #cecece;
}
div#collection_container thead tr th {
    padding: 8px 40px;
    font-size: 16px;
}
div#collection_container tbody tr td img {
    width: 50px;
    height: auto;
}
div#collection_container tbody tr td {
    padding: 16px 16px;
}
div#collection_container tbody tr td img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
div#collection_container tbody tr td input.collectionSave {
    text-align: center;
    float: left;
    width: 100%;
    padding: 6px 0px;
    border-radius: 10px;
    font-size: 14px;
}
div#collection_container tbody tr td input.collectionSave:hover {
    background: #404040;
    color: #fff;
}
.logo h2 {
    text-align: center;
    margin-bottom: 20px;
}
div#collection_container table {
    background: #f9f9f9;
}
